@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');

:root{
  --bg: #c8ff88;         
  --card: #ffffff;      
  --muted: #9e9e9e;     
  --text: #1b1b1b;     
  --focus: rgba(141, 141, 141, 0.16);
  --radius: 12px;
  font-size: 18px;
}

*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  background:linear-gradient(180deg, var(--bg) 0%, #80ffd5 100%);
  color:var(--text);
  font-family: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  line-height:1.6;
  font-size:1rem;
}

.contenedor{
  margin:18;
  padding:20px;
  gap: 5rem;
}

.card{
  background:linear-gradient(180deg, var(--card), #fffdc0);
  padding:20px;
  box-shadow: 0 10px 30px rgba(106,92,255,0.06);
  border:1px solid rgba(106,92,255,0.06);
}

/* títulos */
h1,h2{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#5c79e3;
  margin:0 0 12px 0;
  line-height:1.1;
}

h1{font-size:2.4rem}  
h2{font-size:1.6rem}


input[type="text"],
input[type="number"],
textarea,
select{
  width:80%;
  padding:20px 41px;
  height:48px;
  border-radius:40px;
  border:2px solid rgba(0, 53, 49, 0.177);
  background:linear-gradient(180deg,#d3e8ff,#fffdfc);
  font-size:1.05rem;
  color:var(--text);
}

#guardar2,#buscar{
  padding:14px 22px;
  border-radius:22px;
  background: #069994;
  color:hsl(68, 100%, 85%);
  border:5px solid rgb(117, 205, 232);
  cursor:pointer;
  font-weight:800;
  font-size:1rem;
  box-shadow: 0 8px 22px rgba(206, 63, 63, 0.14);
  transition: transform .12s ease, box-shadow .12s ease;
}
#guardar:hover{ transform:translateY(-3px); box-shadow: 0 18px 40px rgba(106,92,255,0.18) }
#guardar2:hover{ transform:translateY(-3px); box-shadow: 0 18px 40px rgba(106,92,255,0.18) }

